@font-face{
    font-family: "Josefin Sans-300";
    src: url('fonts/JosefinSans-Light.ttf') format("truetype");
}

@font-face{
    font-family: "Josefin Sans-400";
    src: url('fonts/JosefinSans-Regular.ttf') format("truetype");
}

@font-face{
    font-family: "Josefin Sans-600";
    src: url('fonts/JosefinSans-SemiBold.ttf') format("truetype");
}

*{
    /*Colors*/
    --desatured-Red: hsl(9,36%, 70%);
    --soft-Red: hsl(0, 93%, 68%);
    --dark-Grayish-Red: hsl(0, 6%, 24%);
    /*Gradients*/
    --lightRed-to-Gray: linear-gradient(135deg, hsl(0, 76%, 92%), hsl(0, 100%, 98%));
    --lightPink-to-Pink: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /*Fonts*/
    font-size: 16px;
}

/*General*/
html{
    margin: 0;
    padding: 0;
    width: 375px;
    height: 800px;
}

body{
    width: 375px;
    margin: 0;
    padding: 0;
}

#main{
    background-color: hsl(0, 100%, 98%);
    padding-bottom: 100px;
}

/*Main Title*/
h1{
    font-family: "Josefin Sans-300";
    color: var(--desatured-Red);
    text-align: center;
    font-size: 2.5em;
    width: fit-content;
    letter-spacing: 0.3em;
}

h1:not(.dark){
    margin-top: 65px;
    margin-left: 96px;
}

.dark{
    margin-top: -0.7em;
    font-family: "Josefin Sans-400";
    color: var(--dark-Grayish-Red);
}

/*Cover*/
.woman{
    background-image: url("images/hero-mobile.jpg");
    width: 375px;
    height: 250px;
    text-indent: -9999px;
}

/*Main Text*/
#main p{
    font-family: "Josefin Sans-400";
    color: var(--desatured-Red);
    width: 350px;
    text-align: center;
    margin: 12.5px;
    margin-bottom: 40px;
    margin-top: -15px;
}

/*Header*/
#logo{
    margin: 0 0 25px 30px;
    color: #fff;
}

/*Sign with email*/
input[type=text]:not(placeholder){
    padding-left: 20px;
    width: 260px;
    background: url("images/bg-pattern-desktop.svg");
    border: 1px solid var(--desatured-Red);
    border-radius: 25px;
    opacity: 100%;
    height: 3em;
    font-family: "Josefin Sans-400";
    font-size: 0.9em;
    margin-left: 30px;
}

input::placeholder{
    color: var(--desatured-Red);
    font-size: 0.9em;
    opacity: 70%;
}

button{
    float: right;
    width: 65px;
    margin-right: 40px;
    background: var(--lightPink-to-Pink);
    border: 0;
    border-radius: 25px;
    height: 48px;
    margin-top: -48px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 15px 30px 0px hsl(0, 60%, 86%);
}

button:hover{
    background: hsl(0, 100%, 92%);
}

/*Error*/

#error{
    width: 203px;
    margin-top: 10px;
    margin-left: 16px;
    font-size: 1em;
    color: red;
    opacity: 100%;
    font-family: "Josefin Sans-400";
}

#error img{
    width: 24px;
    position: relative;
    transform: translate(285px, -61.5px);
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (min-width: 1440px){
/*General*/
html{
    margin: 0;
    padding: 0;
    display: flex;
    width: 1440px;
    height: 800px;
}

body{
    width: 1440px;
    height: 800px;
    background-color: white;
}

#container{
    background-image: url("images/bg-pattern-desktop.svg");
    width: 1440px;
    height: 800px;
}

/*Main*/
#main{
    transform: translateY(181px);
    padding-bottom: 0;
    background: none;
    margin: 0;
    margin-left: 220px;
    height: 525px;
    width: 1220px;
    transform: translateY(0);
}

#main p{
    width: 420px;
    margin: 0;
    margin-bottom: 35px;
    line-height: 1.5em;
    text-align: justify;
}

#logo{
    margin: 0;
    margin-left: 220px;
    padding: 0;
    width: 0;
    height: 0;
    transform: translateY(100px);
}

h1{
    font-size: 3em;
    width: 250px;
    letter-spacing: 0.4em;
    line-height: 1.2em;
    text-align: justify;
}

h1:not(.dark){
    width: fit-content;
    margin-left: 0;
}

.dark{
    margin-left: 0;
}

/*Content*/
#content{
    margin-top: 275px;
    width: 200px;
    height: 525px;
}

/*Cover*/
.woman{
    background-image: url("images/hero-desktop.jpg");
    transform: translateY(-276px);
    height: 800px;
    width: 610px;
    text-indent: -9999px;
    float: right;
}

/*Sign with email*/
#sign{
    margin: 0;
    width: 500px;
}

input[type=text]:not(placeholder){
    margin-left: 0;
    width: 380px;
}

input::placeholder{
    opacity: 70%;
}

button{
    margin-right: 60px;
    width: 100px;
    position: relative;
    border-radius: 25px;
}

/*Footer*/
footer{
    position: absolute;
    margin-left: 553px;
    margin-bottom: 0;
}

#error{
    width: 203px;
    margin-top: 10px;
    margin-left: 16px;
}

#error img{
    transform: translate(285px, -61.5px);
}
}